<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>

  <label>First Name:</label> <br><%= f.text_field :first_name %><br>
  <label>Last Name: </label><br><%= f.text_field :last_name %> <br>
  <label>Email: </label><br><%= f.text_field :email %><br>
  <label>Password: </label><br><%= f.password_field :password %><br>
  <label>Password Confirmation: </label><br><%= f.password_field :password_confirmation %><br><br>
 <%= f.submit "Submit" %>

<% end %>